* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0 none;
}

body{
  background-color: rgb(207, 202, 202);
  font-family: 'Poppins', sans-serif;
}
/* LOGIN PAGE */ 

#header-login{
  height: 117px;
  background-color: #33CC95;
  text-align: center;
}

.container-login{
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  
}

#box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 440px;
  height: 440px;
}

#box input{
  border-radius: 7px;
  width: 250px;
  height: 42px;
  margin:10px;
  padding: 10px;
}

#box button{
  width: 250px;
  height: 42px;
  background-color: #24A140;
  font-weight: bold;
  color: white;
  font-weight: bold;
  border-radius: 7px;
}

.photo{
  width: 200px;
  height: 200px;
  background-color: gray;
  border-radius: 180px;
  margin: 0;
}

.keep-logo {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.keep-logo h2 {
  color: white;
  font-size: 24px;
}