/*Global ========================= */
:root {
  --dark-blue: #363f5f;
  --red: #e92929;
  --greenblack: #137B13
  
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 93.75%;
}

body {
  background-color: rgb(207, 202, 202);
  font-family: "Poppins", sans-serif;
}

.sr-only{
  position: absolute;
  width: 1px;
  height: 1px;


  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border-width: 0;

}

.container {
  width: min(90vw, 500px);
  margin: auto;
}


/* Titles ==================*/

h2 {
  margin-top: 3.2rem;
  margin-bottom: 0.8rem;

  font-weight: normal;
}


/*Links and Buttons ==================*/

a{
  
  color: #49AA26;
  text-decoration: none;
  
}

a:hover{
  color: #3dd705;
  text-decoration: none;
  
}

.button.new{
  

  display: inline-block;
  margin-bottom: .8rem;
  
  

}

.button.cancel{
  
  color: var(--red);
  border: 2px var(--red) solid;
  
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;


  opacity: 0.6;
}

.button.cancel.hover{
  opacity: 1;
  
}

button{
  width: 100%;
  height: 50px;
  border: none;
  padding: 0;
  border-radius: 0.25rem;

  color: white;
  background: darkgreen;

  

  

  cursor: pointer;

  
}

button:hover{
  background-color: #3dd705;
}

/* Header ==================*/

header {
  background-color: green;
  padding: 2rem 0 10rem;
  text-align: center;
}

#logo {
  color: #fff;
  font-weight: 100;
}

/* Balance ==================*/

#balance {
  margin-top: -8rem;
}

#balance h2 {
  color: #fff;
}

/* Cards ==================*/

.card {
  background: white;
  padding: 1rem 1rem;
  border-radius: 1rem;

  margin-bottom: 2rem;
}

.card h3 {
  font-weight: normal;
  font-size: 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card p {
  font-size: 1rem;
  line-height: 1rem;

  margin-top: 2rem;
}

.card.total {
  background-color: rgb(48, 192, 29);
  color: white;
}

/* Footer ==================*/


#transaction{
  display: block;
  width: 100%;
  overflow-x: auto;
}
#data-table {
  
  width: 100%;
  border-spacing: 0 0.5rem;
  

}

table th {
  background-color: #fff;
  border-spacing: 0 0.5rem;

  font-weight: normal;
  padding: 1rem 2rem;
  text-align: left;
}

table td {
  background-color: #fff;
  border-spacing: 0 0.5rem;

  padding: 1rem 2rem;
}

td.description {
  color: var(--dark-blue);
}
td.income {
  color: #12a454;
}
td.expense {
  color: #e92929;
}

table tbody tr {
  opacity: 0.7;
}

table tbody tr:hover {
  opacity: 1;
}

table thead tr th:first-child,
table tbody tr td:first-child {
  border-radius: 0.25rem 0 0 0.25rem;
}

table thead tr th:last-child,
table tbody tr td:last-child{
  border-radius: 0.25rem 0.25rem 0;
}


.modal-overlay{
  width: 100%;
  height: 100%;
  background: rgb(0,0,0,0.7);

  position: fixed;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;
}

.modal-overlay.active{
  opacity: 1;
  visibility: visible;
}

.modal{
  background: #F0F2f5;
  padding: 2.4rem;
  
}

/* Form ==================*/

#form {
  max-width: 500px;
  width: 90%;
}

#form h2{
  margin-top: 0;
}

input{
  border: none;
  border-radius: 0.2rem;
  padding: .8rem;
  width: 100%;
}

.input-group{
  margin-top: 0.8rem;
}

.input-group small{
  opacity: 0.4;
}

.input-group.actions{
  display: flex;
  justify-content: space-between;
  
}

.input-group.actions .button,
.input-group.actions .button{
  width: 180px;
}




/* Responsive ==================*/
@media(min-width: 800px) {
  html{
    font-size: 87.5%;
  }

  #balance{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
}
